h1 {
    color:#ff0000;
}
#p1 {
    color:deeppink
}
p {
    color:rgb(36, 129, 129);
}
body {
    background-color: rgb(177, 111, 125);
}
.big-text {
    font-size: 3em;
    color: yellow;
}
.go-green {
    color:green;
}